.home {
  width: 100%;
  background-image: url("../../../public/assets/IMAGE\ \(29\).png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* padding: //; */
  height: 700px;
}
.home .right {
  color: white;
  margin-right: 900px;
  font-size: 25px;
  margin-left: 200px;
}
.home .right h4 {
  width: 215px;
  height: 20px;
  top: -0.5px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 2px;
  text-align: left;
  color: #e6b939;
}
.home .right h1 {
  width: 416px;
  height: 116px;
  top: 18.5px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: left;
  color: #ffffff;
}

.home .right p {
  width: 495px;
  height: 51px;
  top: 143.5px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: #caccd1;
}